*$py.class
*.core
*.hypothesis
*.py[cod]
*.pyc
*.swp
*~
.dmypy.json
.hypothesis/
.mypy*
.mypy_cache/
.pytest_cache/
__pycache__
__pycache__/
dmypy.json
pip-delete-this-directory.txt
pip-log.txt
todo
.coverage
